[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
beautifulsoup4 = "*"
openpyxl = "*"
pandas = "*"
requests = "*"
simplejson = "*"
tabula-py = "*"

[requires]
python_version = "3.8"
